# PHP
.env
.env.*
*.log

# IDEs y editores
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Sistema
.DS_Store
Thumbs.db

# Backups o empaquetados
*.zip
*.tar.gz
*.bak

# Node.js (por si usás herramientas frontend)
node_modules/

# Composer
composer.lock
