#slogan{
    font-size: 54px;
}

#part-1{
    font-size: 44px;
}

#text-bar{
    font-size: 24px;
}

#viajes{
    font-size: 30px;
}

#cotizacion{
    font-size: 30px;
}

#paquetes{
    font-size: 30px;
}

#part-2, #part-3{
    font-size: 40px;
}

#Slogan{
    font-size: 44px;
}

